/*Celular*/
@media (max-width: 420px)  {
    .torneos{
        width: 300px;
        height: auto;
        padding-bottom: 10px;
    }
    .anuncio{
        width: 300px;
    }
    li {
        height: auto;
        padding: 2px 10px;
        line-height: 30px;
    }
    li > span {
        display: block;
    }
    .speaker {
        font-weight: 500;
        display: block;
    }
    #speakers section{
        flex-direction: column;
        margin: 0 auto;
    }
    .tarjeta_speaker{
        margin-bottom: 20px;
    }
    .enlace_sponsor{
        height: 20%;
    }
    .avatar{
        margin: 0 auto;
    }
    #sponsors img{
        /*width: 100px;*/
    }
    .tarjeta_speaker{
        width: 220px;
        margin:10px auto;
    }
    .menu .seleccion{
        /*width: 25vw;*/
    }
    .menu a {
        display: flex;
        align-items: center;
        padding-left: 14px;
        text-align: left;
    }
   
    .carousel-bullet{
        display: inline list-item;
    }
}
/* Celuar Pro Max */
@media (min-width: 421px) and (max-width:500px) {
    .tarjeta_speaker{
        width: 320px;
        margin-bottom: 20px;
        text-align: center;
        margin: 10px auto;
    }
    .descripcion{
        text-align: left;
    }
    .avatar{
        margin: 0 auto;
        width: 150px;
        height: 150px;
        margin-bottom: 20px;
    }
    .enlace_sponsor{
        display: block;
    }
    #speakers section{
        display: flex;
        flex-direction: column;
    }
    .menu .seleccion{
        /*width: 20vw;*/
    }
    .menu a {
        display: flex;
        align-items: center;
        padding-left: 14px;
        text-align: left;
        line-height: normal;
    }
    .imagen_intro_evento{
        width: 90%;
    }
    section{
        padding: 0;
    }
    #in_person_event .mensaje_importante{
        width: 70%;
        display: block;
        margin: 0 auto;
    }
    
    /* Estilos específicos para Cine en móvil */
    .skeleton-inner {
        padding: 20px;
    }

    .skeleton-title {
        height: 28px;
    }

    .skeleton-subtitle {
        height: 18px;
    }

    .skeleton-large-card {
        height: 40px;
    }

    .skeleton-small-card {
        height: 40px;
    }
    
}   